@media screen and (max-width: 5000px) {
    /* Styling for prof pic */
    .profPic {
        width: 15%;
        height: 15%;
    }

    /* Styling for text */
    .infoHeader {
        color: #AA4465;
        font-size: 25px;
        margin-top: 30px;
        text-align: center;
    }

    hr {
        width: 5%;
        background-color: #AA4465;
        border-width: 2px;
        border-radius: 1px;
    }

    .infoText {
        font-size: 25px;
        margin-top: 30px;
    }
}

/* Styling for phones or devices in portrait mode */
@media screen and (max-width: 600px) {
    /* Styling for prof pic */
    .profPic {
        width: 35%;
        height: 35%;
    }

    /* Styling for text */
    .infoHeader {
        color: #AA4465;
        font-size: 20px;
        margin-top: 30px;
        text-align: center;
    }

    hr {
        width: 20%;
        background-color: #AA4465;
        border-width: 2px;
        border-radius: 1px;
    }

    .infoText {
        font-size: 20px;
        margin-top: 30px;
        width: 90%;
    }
}

/* Styling for profile picture */
.profPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    border-radius: 50%;
}

.infoText {
    color: #FDFDFF;
    display: table;
    margin: 0 auto;
}
