/* This css file is used for styles that are shared on multiple pages */
/* Styling for desktops, laptops, or any device in portrait mode */
@media screen and (max-width: 5000px) {
    /* Styling for navbar */
    .navbar {
        overflow: hidden;
        display: flex;
        height: 20%;
    }

    .nav-links {
        margin-top: -15px;
    }

    .navbar p {
        color: #AA4465;
        font-size: 30px;
        justify-content: start;
    }

    .navbar a {
        color: #ECECEC;
        text-decoration: none;
        font-size: 20px;
        justify-content: end;
        margin-left: 20px;
    }
}

/* Styling for phones or devices in portrait mode */
@media screen and (max-width: 600px) {
    /* Styling for navbar */
    .navbar {
        display: flex;
        height: 20%;
        align-items: center;
        justify-content: center;
    }

    .nav-links {
        margin-top: -15px;
        margin-left: -15px;
    }

    .navbar p {
        color: #AA4465;
        font-size: 25px;
        text-align: center;
    }

    .navbar a {
        color: #ECECEC;
        text-decoration: none;
        font-size: 15px;
        margin-top: -20px;
    }
}

/* Styling for body of webpage */
body {
    background-color: #1E212B;
    margin: 0px;
}

/* Styling for fonts */
a, p, span {
    font-family: 'Quicksand', sans-serif;
    letter-spacing: 2.5px;
    text-decoration: none;
}

div .active {
    color: #AA4465;
}

a:hover {
    color: #AA4465;
}
